@model IEnumerable<Dal.Context.Category>
@{
    ViewBag.Title = "Index";
}
@Html.Partial("_PartialSlider");

<div class="container">
    <div class="row">
        @foreach (var category in Model)
        {
            <div class="col-sm-3 align-center">
                <a href="@Url.Action("Products",new {catId=category.categoryId })">
                    @if (category.imageName != null)
                    {
                        <img  style="width:212.5;height:142;" src="data:image/png;base64,@Convert.ToBase64String(category.imageName)" alt="Blog" class="image" />
                    }
                </a>
                <br><br>

                <a href="@Url.Action("Products",new {catId=category.categoryId })">@category.categoryName</a>
            </div>
        }


    </div>
</div>